@import '~bootstrap/scss/bootstrap';

#wrapper {
  max-width: 800px;
  margin: 60px auto;
}

.avatar {
  .fas {
    font-size: 6rem;
  }
}

.clickable {
  cursor: pointer;
}

.profile-box {
  background: #eee;
  padding: 20px;
  border-radius: 6px;

  hr {
    border-color: #999;
  }
}

.manuscript-body {
  textarea {
    height: 600px;
  }
}